<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PerfectPizza</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div>
    <div class="header" >
      <h1>Perfect Pizza</h1>
    </div>

    <div class="cartTotal " >
      <strong>Total price</strong>  
      <span class="cartTotalPrice">{{result.cartTotal}}</span>
      <a href="#">
        <img src="shopping-cart.png" alt="">
      </a>
    </div>


    <div class="cart" >
      <h3>Shopping Cart</h3>
      <img src="shopping-cart.png" alt="">

        <table>
          <tr>
            <th>Pizza Size </th>
             <th>Total</th>
              <th>Quantity</th>
          </tr>
          <tr>
            <td><strong>Small pizzas total:</strong></td>
            <td><span class="smallTotalPrice">{{result.smallTotal}}</span></td>
            <td><span class="smallTotalPrice">{{result.smallQuantity}}</span></td>
          </tr>

          <tr>
            <td><strong>Medium pizzas total:</strong></td>
            <td><span class="mediumTotalPrice">{{result.mediumTotal}}</span></td>
            <td><span class="smallTotalPrice">{{result.mediumQuantity}}</span></td>
          </tr>
          <tr>
            <td><strong>Large pizza total:</strong></td>
            <td><span class="largeTotalPrice">{{result.largeTotal}}</span></td>
            <td><span class="smallTotalPrice">{{result.largeQuantity}}</span></td>
          </tr>
          <tr>
            <td><strong>Total price:</strong></td>
            <td><span class="totalPrice">{{result.cartTotal}}</span></td>
          </tr>
        </table>
        <button class="btn orderlargePizza" value="largeSubs" type="submit" name="button"   style="margin-left: auto"><a href="/viewcart">Order</a></button></td>
    </div>

    <!------------Small Form Order Button------------->
    <div class="pizzas" >
      <form method="POST" action="/addToCart" class="pizza small">
        <div class="pizza small">
          <div class="info">
            <img src="pizza.png"
              alt="">
            <h2>Small Pizza</h2>
            <strong>R35.00</strong>
            <i>
              <ul>
                <li>small pizza with 3 toppings</li>
                <li>1 meat topping.</li>
                <li>3 or less other toppings.</li>
              </ul>
            </i>
          </div>
          <div class="orderBox">
            <button class="btn orderSmallPizza" value="small" type="submit" name="button" style="margin-left: auto">Order small pizza</button>
          </div>
        </div>
      </form>
      <!-------------------Form End--------------------->

      <!-------Meduim Form Order----------->
      <form method="POST" action="/addToCart" class="pizza medium">
        <div class="pizza medium">
          <div class="info">
            <img src="pizza.png"
              alt="">
            <h2>Medium Pizza</h2>
            <strong>R65.00</strong>

            <div>
              medium margeritha pizza with 3 toppings max.
              2 or less meat topping.
              3 or less other toppings.
            </div>
          </div>

          <div class="orderBox">
            <button class="btn orderMediumPizza" value="medium" type="submit" name="button" style="margin-left: auto">Order medium pizza</button>
          </div>
        </div>
      </form>
      <!------------Meduim End-------------------------->

      <!------------Large Form Order Button------------->
      <form method="POST" action="/addToCart" class="pizza large">
        <div class="pizza large">
          <div class="info">
            <img src="pizza.png"
              alt="">
            <h2>Large Pizza</h2>
            <strong>R85.00</strong>
            <div>
              large margeritha pizza with 3 toppings max.
              3 meat toppings max.
              3 or less other toppings.
            </div>
          </div>
          <div class="orderBox" >
            <button class="btn orderLargePizza" value="large"  type="submit" name="button" style="margin-left: auto">Order large pizza</button>
          </div>
        </div>
      </form>
      <!-------------Large Form Order Button------------>

    </div>
    <div class="contain contact_us">

        <h2>Contact Details</h2>

        <p id="contact">
            Contact us at:(021)-541-1000 <br>
            info@perfectpizza.co.za <br>
            Twitter/Facebook/Instagram <br>
            @perfectpizza
        </p>

        <p id="location">
            Perfect Pizza <br>
            Dough Road <br>
            Base Town
        </p>
    </div>

    <div class="footer">
        Tebogo Seanego | 2021 | CodeX AWD Assesment
    </div>
  </div>
</body>


<hr>

</html>
</html>